{% match self %}
  {% when SignalEvent::Processing with (val) %}
    <p class='text-blue-300'>  Processing {{ val }} </p>
  {% when SignalEvent::Finish with (val) %}
    <p class='text-gray-300'>  Finish {{ val }} </p>
  {% when SignalEvent::Error with (val) %}
    <p class='text-red-600'>  Error {{ val }} </p>
  {% when SignalEvent::Complete %}
    <p class='text-green-600'>  Complete </p>
  {% else %}
    <p class='text-block-800'>  Unkonwn event </p>
{% endmatch %}
